<div class="row">
  <div class="col-sm-9">
    <h3>
      <i class="far fa-calendar"></i>
      <%= @event[:date] %>
    </h3>
    <h1><%= @event[:title] %></h1>
    <p><%= @event[:description] %></p>
    <h3 class="mt-5">RSVPs</h3>
    <% for rsvp in @rsvps %>
      <div class="media mt-3">
        <% if rsvp[:going] %>
          <i class="fas fa-thumbs-up fa-3x"></i>
        <% else %>
          <i class="fas fa-thumbs-down fa-3x"></i>
        <% end %>
        <div class="media-body ml-3">
          <h5 class="mt-0"><%= rsvp[:name] %></h5>
          <%= rsvp[:comments] %>
        </div>
      </div>
    <% end %>
    <p class="mt-5"><a href="/events/<%= @event[:id] %>/rsvps/new" class="btn btn-primary">RSVP now!</a></p>
  </div>
  <div class="col-sm-3">
    <h3>When?</h3>
    <p><%= @event[:date] %></p>
    <h3>Where?</h3>
    <p><%= @event[:location] %></p>
    <h3>How many guests so far?</h3>
    <p><%= @count %></p>
  </div>
</div>

